h1 {
    text-align: center;
}

p {
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25in;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3xvtS7h4VkyupYu7hF2LLdFI_VSgFuF4lGA&usqp=CAU");
    background-position: center;
}

body {
    background: url("https://images.unsplash.com/photo-1547056961-3c25e9140b05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpY2tzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}

.banner {
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c6/Blackboard.png");
    font-size: 50pt;
    font-family: Arial, Rounded MT Bold;
}
